# .env
SECRET_KEY="asd"
CONFIGURATION_SETUP="config.DevelopmentConfig"

DB_SQLALCHEMY_URI="postgresql+psycopg2://scene_be_admin:iniP4ssw0rd!23#@localhost:5432/scene_be"

GIS_DB_SQLALCHEMY_URI="postgresql+psycopg2://scene:scene@localhost:15432/nbs"

MAIL_BREVO_API_KEY="key"

FE_URL="https://test.com"

TOKEN_EXPIRE_HOURS="0"
TOKEN_EXPIRE_MINUTES="20"
MAX_DRAW_AREA="500000"

BENEFIT_API_URL="http://localhost:8000/process_geojson"

BROKER_URL="amqp://guest:guest@127.0.0.1:5672//"

STAGING_MAPPING_VARS_TO_SECRET_GCP="SECRET_KEY;CONFIGURATION_SETUP;DB_SQLALCHEMY_URI;GIS_DB_SQLALCHEMY_URI;MAIL_BREVO_API_KEY;FE_URL;TOKEN_EXPIRE_HOURS;TOKEN_EXPIRE_MINUTES;MAX_DRAW_AREA;BENEFIT_API_URL;BROKER_URL"
STAGING_GCP_SERVICE_ACCOUNT="ewogIC=="

GCS_MOUNT_PATH="/home/del/Documents/gen-doc"

GOOGLE_APPLICATION_CREDENTIALS="/home/del/Documents/cred.json"

GCS_BUCKET_NAME="stg-bucket-be"