<html>
    <body>
        <p>Dear {{ data.user.name }},</p>
        <br />
        <p>Thank you for submitting your project document for review by the NbS Incubator team. We appreciate your trust in our services and are committed to providing you with valuable feedback.</p>
        <p>Please note that the review process will take approximately four weeks. Our team will thoroughly evaluate your document and get back to you with advice, input, and suggestions to help enhance your project.</p>
        <p>Thank you for your patience and understanding.</p>
        <br />
        <p>Sincerely,</p>
        <p>NbS Tool Team</p>
    </body>
</html>