<html>
    <body>
        <p>Hi {{ data.name }},</p>
        <p>We received a request to reset your password for your NbS Tool account. If you initiated this request, please follow these steps to choose a new, secure password:</p>
        <ol>
            <li>
                <p>
                    Click the link below:<br />
                    <a href="{{ data.fe_url }}/auth/reset-password/{{ data.token }}">{{ data.fe_url }}/auth/reset-password/{{ data.token }}</a>
                </p>    
            </li>
            <li>
                <p>
                    Enter your new password:<br />
                    <ol>
                        <li>Choose a strong password that is unique to this account.</li>
                        <li>Avoid using easily guessable information like your name, birthday, or pet's name.</li>
                        <li>Combine uppercase and lowercase letters, numbers, and symbols for maximum security.</li>
                    </ol>
                </p>
            </li>
            <li>
                <p>
                    Confirm your new password:<br />
                    Type your new password again to ensure it's entered correctly.
                </p>
            </li>
            <li>
                <p>
                    Click "Reset Password":<br />
                    Your new password will be saved, and you can use it to log in to your NbS Tool account.
                </p>
            </li>
        </ol>
        <p><strong>Didn't request this password reset?</strong></p>
        <p>If you didn't initiate this request, please ignore this email. Your password remains unchanged. However, for your account security, we recommend changing your password to a strong one. You can do this by logging in to your account and going to your profile settings.</p>
        <p><strong>Need help?</strong></p>
        <p>If you have any trouble resetting your password or have any questions, please don't hesitate to contact our support team at <a href="mailto:info@scenecoalition.org">info@scenecoalition.org</a>.</p>
        <p>We're here to help you get back on track with NbS Tool!</p>
        <p>Sincerely,</p>
        <p>The NbS Tool Team</p>
        <p>P.S. This password reset link is valid for {{ data.expired }} minutes only. For your security, we recommend changing your password regularly.</p>
    </body>
</html>