<html>
    <body>
        <p>Dear NbS Tool Team,</p>
        <p>We have received a request from an NbS Tool user to upgrade their area scoping.</p>
        <p>Below are the details of the user and the document:</p>
        <ul>
            <li><strong>Name:</strong> {{ data.user.name }}</li>
            <li><strong>Email:</strong> {{ data.user.email }}</li>
            <li><strong>Organization Name:</strong> {{ data.user.organization_name }}</li>
            <li><strong>Organization Type:</strong> {{ data.organization_type.name }}</li>
            <li><strong>Reason for Broader Area Analysis:</strong> {{ data.reason }}</li>
        </ul>
        <p>We kindly ask you to review the request. Thank you for your cooperation and support.</p>
    </body>
</html>